<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/BecomeTasker-style.css">
    <title>Document</title>
</head>
<body>
    <div class="earn-money-container">
        <div class="img-container">
            1
        </div>
        <div class="txt-container">
            <div class="flex-container">
                <h1 class="">Earn money</h1>
            </div>
            <div class="flex-container">
                <h1>your way</h1>
            </div>
            <div class="flex-container">
                <p>See how much you can make tasking</p>
            </div>
            <div class="flex-container">
                <p>on Provitask</p>
            </div>
            <div class="flex-container">
                <p>Select our area</p>
            </div>
            <div class="flex-container">
                <select name="" id=""></select>
            </div>
            <div class="flex-container">
                <p>Choose a Category</p>
            </div>
            <div class="flex-container">
                <select name="" id=""></select>
            </div>
            <div class="flex-container">
                <h1>16$ per hour</h1>
            </div>
            <div class="flex-container">
                <button></button>
            </div>
            <div class="flex-container">
                <p>Already have an account</p>
            </div>        
        </div>
    </div>
    <div>
        <div>
            For better services download now
        </div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <div>
        <div>
            <h1>Flexible work, at your</h1>
            <h1>fingertips</h1>
            <h4>
                Find local jobs that fit your skills and schedule. Wit TaskRabbit, you have
            </h4>
            <h4>
                thefreedon and support to be your own boss.
            </h4>
        </div>
        <div>
            <div>
                <table>
                    <tr>
                        <td>
                            icono
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>text</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lorem ipsum dolor sit 
                            amet consectetur adipisicing elit. 
                            Praesentium illum vel nobis voluptas 
                            quasi hic quibusdam voluptatem, 
                            molestias neque officiis quae!
                        </td>
                    </tr>
                </table>
            </div> 
            <div>
                <table>
                    <tr>
                        <td>
                            icono
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>text</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lorem ipsum dolor sit 
                            amet consectetur adipisicing elit. 
                            Praesentium illum vel nobis voluptas 
                            quasi hic quibusdam voluptatem, 
                            molestias neque officiis quae!
                        </td>
                    </tr>
                </table>
            </div> 
            <div>
                <table>
                    <tr>
                        <td>
                            icono
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>text</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lorem ipsum dolor sit 
                            amet consectetur adipisicing elit. 
                            Praesentium illum vel nobis voluptas 
                            quasi hic quibusdam voluptatem, 
                            molestias neque officiis quae!
                        </td>
                    </tr>
                </table>
            </div> 
        </div>
        <div>
            <div>
                <h1>What is Provitask</h1>
                <p>
                    Lorem ipsum dolor sit amet, 
                    consectetur adipisicing elit. 
                    A illo sapiente provident accusantium 
                    asperiores ratione nam veritatis 
                    laboriosam repellat perspiciatis 
                    alias pariatur nemo distinctio 
                    ea quam cumque aspernatur sunt 
                    nulla rem omnis dignissimos dolor, 
                    iste minima. Voluptate animi recusandae sit.
                </p>
            </div>
            <div>
                imagen
            </div>
            <div>
                <h1>Getting Started</h1>
            </div>
            <div>
                <div>
                    <table>
                        <tr>
                            <td>
                                icono
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>text</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lorem ipsum dolor sit 
                                amet consectetur adipisicing elit. 
                                Praesentium illum vel nobis voluptas 
                                quasi hic quibusdam voluptatem, 
                                molestias neque officiis quae!
                            </td>
                        </tr>
                    </table>
                </div> 
                <div>
                    <table>
                        <tr>
                            <td>
                                icono
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>text</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lorem ipsum dolor sit 
                                amet consectetur adipisicing elit. 
                                Praesentium illum vel nobis voluptas 
                                quasi hic quibusdam voluptatem, 
                                molestias neque officiis quae!
                            </td>
                        </tr>
                    </table>
                </div> 
                <div>
                    <table>
                        <tr>
                            <td>
                                icono
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>text</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lorem ipsum dolor sit 
                                amet consectetur adipisicing elit. 
                                Praesentium illum vel nobis voluptas 
                                quasi hic quibusdam voluptatem, 
                                molestias neque officiis quae!
                            </td>
                        </tr>
                    </table>
                </div> 
            </div>
            <div>
                <div>
                    <table>
                        <tr>
                            <td>
                                icono
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>text</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lorem ipsum dolor sit 
                                amet consectetur adipisicing elit. 
                                Praesentium illum vel nobis voluptas 
                                quasi hic quibusdam voluptatem, 
                                molestias neque officiis quae!
                            </td>
                        </tr>
                    </table>
                </div> 
                <div>
                    <table>
                        <tr>
                            <td>
                                icono
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>text</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lorem ipsum dolor sit 
                                amet consectetur adipisicing elit. 
                                Praesentium illum vel nobis voluptas 
                                quasi hic quibusdam voluptatem, 
                                molestias neque officiis quae!
                            </td>
                        </tr>
                    </table>
                </div> 
                <div>
                    <table>
                        <tr>
                            <td>
                                icono
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>text</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lorem ipsum dolor sit 
                                amet consectetur adipisicing elit. 
                                Praesentium illum vel nobis voluptas 
                                quasi hic quibusdam voluptatem, 
                                molestias neque officiis quae!
                            </td>
                        </tr>
                    </table>
                </div> 
            </div>
            <div>
                <div>
                    -------------------
                </div>
            </div>
            <div>
                <h1>Your questions, answered</h1>
            </div>
            <div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        <div>
            <h1>Ready to make money your way?</h1>
            <button></button>
            <div>
                <div>ios</div>
                <div>android</div>
            </div>
        </div>
        <div>
            background
        </div>
    </div>
    
</body>
</html>