<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/BecomeTaskerDatos-style.css">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <div class="flex-container">
            <h1 class="title-acc">Create your account</h1>
        </div>
        <div class="flex-container">
            <p class="inf-acc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, error sunt. Reiciendis 
                in amet natus? Hic perferendis molestias nesciunt consectetur sed distinctio ullam sit.
            </p>
        </div>
        <div class="flex-container">
            <div class="form-acc">
                aqui va el formulario de react bootstrap
            </div>
        </div>
        <div class="confirm">
            <button type="submit">v</button> <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="flex-container">
            <p class="normal-txt">
                Lorem ipsum dolor sit amet consectetur adipisicing
                 <span class="styled-txt">
                    elit. Beatae porro pariatur magnam corrupti dicta itaque officiis asperiores.
                 </span>         
            </p>
        </div>
        <div class="flex-container">
            <button class="btn-create">Create Account</button>
        </div>
    </div>
    <div class="help-container">
        <img src="/img/help.png" alt="">
    </div>
</body>
</html>